services:
  postgres:
    image: 'postgres:17'
    container_name: postgres_db
    restart: always
    environment:
      - 'POSTGRES_DB=freelachat-database'
      - 'POSTGRES_PASSWORD=root'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: